@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-brand-primary: #7c2d12; /* Warm Terracotta */
  --color-brand-secondary: #fef3c7; /* Soft Amber */
  --color-background: #fafaf9; /* Stone 50 */
}

body {
  background-color: var(--color-background);
  color: #1c1917; /* Stone 900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
